* text=auto eol=lf

*.rs text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.bat text eol=crlf

*.onnx binary
*.png binary
*.jpg binary

docs/* linguist-documentation
examples/* linguist-vendored=false linguist-language=Python

Cargo.lock linguist-generated=false
